<form action="/home/registeraslist" method="post">

    @for (int i = 0; i < 3; i++)
    {
        <h1>Employee : @i</h1>
        <div class="mb-3">
            <label for="form-label">Id</label>
            <input type="text" class="form-control" name="[@i].Id" required>
        </div>
        <div class="mb-3">
            <label for="form-label">Name</label>
            <input type="text" class="form-control" name="Employees[@i].Name" required>
        </div>
        <div class="mb-3">
            <label for="form-label">Email</label>
            <input type="email" class="form-control" name="Employees[@i].Email" required>
        </div>
        <div class="mb-3">
            <label for="form-label">Country</label>
            <select name="Employees[@i].HomeAddress.Country" class="form-control">
                <option value="Myanmar">Myanmar</option>
                <option value="Thailand">Thailand</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="form-label">City</label>
            <input type="text" class="form-control" name="Employees[@i].HomeAddress.City" required>
        </div>
        <div class="mb-3">
            <label for="form-label">Township</label>
            <input type="text" class="form-control" name="Employees[@i].HomeAddress.Township" required>
        </div>
        <div class="mb-3">
            <label for="form-label">Zip Code</label>
            <input type="text" class="form-control" name="Employees[@i].HomeAddress.ZipCode" required>
        </div>
    }

    <button type="submit" class="btn btn-primary">Submit</button>
    <h1 class="form-control">@ViewData["Info"]</h1>
</form>